
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.parrafo {
  margin: 0;
}

.link {
  display: flex;
  justify-content: center;
}

.image {
  height: 2rem;
}

@media (max-width: 660px) {
  .footer {
    display: grid;
    text-align: center;
  }
}